.timerBox {
  margin : auto;
  width : 500px;
  height : 250px;
  border : 1px solid var(--color-depth3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--color-depth1);
  box-shadow: 11px 12px 17px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: 11px 12px 17px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 12px 17px -1px rgba(0,0,0,0.75);
}

span {
  display: block;  
  margin-bottom : 15px;
  text-align : center;
  font-size : 52px;
  font-weight: bold;
  padding : 15px 150px; 
  border : 8px solid var(--color-depth3);
  border-radius: 20px;
  background-color: var(--color-timeScreen);

}

.container {
  display: flex;
}

button {  
  border : none;
  outline: none;
  background: transparent;
  
  cursor : pointer;
  font-size : 50px;
  text-align : center;
  display: flex;
  margin : 0px 8px;
  transition: transform 150ms ease-out;
}

button:hover {
  color : var(--color-depth2);
  transform: scale(1.1);
}